*.o
*.pdf
print_backend_cups
.vscode/
.gdb_history
gmon.out
Makefile.in
.gitignore
aclocal.m4
Makefile
*/Makefile
depcomp
install-sh
missing
aclocal.*
compile
autom4*
config.log
config.status
configure
data/org.openprinting.Backend.CUPS.service
src/.deps